extends layout

block content
  h1= title
  p Welcome to #{title}
  p made by:
  p Jędrzej Nowaczyk
  a(href="https://github.com/jedrnow") GitHub
  br
  br
  a(href="https://www.linkedin.com/in/j%C4%99drzej-nowaczyk-a85750206/") LinkedIn
